<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/MuafiraThasni/Credit-Card-Fraud-Prediction" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science
                            </div>
                            <div class="project-name">
                                Credit Card Fraud Detection
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/MuafiraThasni/Sentiment-Analysis-of-Amazone-Baby-Product-/blob/main/sentiment_analysis_baby_products.ipynb" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science
                            </div>
                            <div class="project-name">
                                Amazon Baby Product Sentiment Analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/MuafiraThasni/Bangalore-House-Price-Prediction/blob/main/BHP%20note.ipynb" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science
                            </div>
                            <div class="project-name">
                                Bangalore House Price Prediction
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://docs.google.com/document/d/1xMQZ2cLF5B1osbbTK5a32Y5s8IuDQ8ea/edit" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science
                            </div>
                            <div class="project-name">
                                San-Diego Electricity Demand Forecasting
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/MuafiraThasni/Airline-Price-Optimization" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Optimization
                            </div>
                            <div class="project-name">
                                Airline Price Optimization
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/MuafiraThasni/Sentiment-Analysis-of-Movie-Reviews/blob/main/IMDB_senitment.ipynb" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science
                            </div>
                            <div class="project-name">
                                IMDB Movie Review Sentiment Analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
