<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/MuafiraThasni/Credit-Card-Fraud-Prediction" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Credit Card Fraud Detection
                            </div>
                            <div class="project-name">
                                An ML model to detect the fraudulent credit card transactions.
                                Challenge: Hihgly imbalanced data(~99% of data biased towards one class)
                                Methodology: SMOTE Sampling, Logistic Regression
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://docs.google.com/document/d/1xMQZ2cLF5B1osbbTK5a32Y5s8IuDQ8ea/edit" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                San-Diego Electricity Demand Forecasting
                            </div>
                            <div class="project-name">
                               ML based model developemnt for Energy demand/consumption prediction for San-Diego
                               Challenge: Time series data with multiple seasonality and lagged values
                               Methodology: Fourier Transform and XGBoost(Hybrid model)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://medium.com/@muafirathasnikt/solving-nurse-scheduling-rostering-problems-in-python-d44acc3ed74f" class="portfolio-box">
                    <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Nurse Scheduling Optimization
                            </div>
                            <div class="project-name">
                                Heuristic solution to solve nurse scheduling problems
                                Challenge: Complex optimization problems
                                Methodology: Genetic Algorithm based approach
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/MuafiraThasni/Sentiment-Analysis-of-Amazone-Baby-Product-/blob/main/sentiment_analysis_baby_products.ipynb" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Amazon Baby Product Sentiment Analysis
                            </div>
                            <div class="project-name">
                                Analyzed and predicted the sentiment given the costomer review for an amazon baby product.
                                Challenge: Biased data, Natural Language Processing
                                Methodology: Feature selection, Logistic Classifier
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/MuafiraThasni/Bangalore-House-Price-Prediction/blob/main/BHP%20note.ipynb" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Bangalore House Price Prediction
                            </div>
                            <div class="project-name">
                               Predicted price for Houses in Bangalore.
                               Toy project used to learn ML techniques

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/MuafiraThasni/Airline-Price-Optimization" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Airline Price Optimization
                            </div>
                            <div class="project-name">
                                Price optimization model for Air line industry
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/MuafiraThasni/Sentiment-Analysis-of-Movie-Reviews/blob/main/IMDB_senitment.ipynb" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                IMDB Movie Review Sentiment Analysis
                            </div>
                            <div class="project-name">
                                Toy porject used to learn Natural Language Processing
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
